.yy-step-1 {
    width: 64px;
    height: 64px;
    background: rgba(52, 145, 240, 1);
    border-radius: 50%;
    opacity: 1;
    color: white;
    font-size: 42px;
    line-height: 64px;
    text-align: center
}

.yy-step-2 {
    width: 0px;
    height: 210px;
    border: 4px solid rgba(52, 145, 240, 1);
    opacity: 1;
    margin-left: 28px
}

.yy-step-content-1 {
    color: rgba(26, 26, 26, 1);
    font-size: 27px;
    font-weight: Bold;
    margin-top: 10px;
}

.yy-input {
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid rgba(185, 190, 197, 1);
    /* color: rgba(81, 92, 111, 0.4); */
    height: 40px;
    line-height: 40px;
    font-size: 16px
}

.el-button {
    margin-top: 40px;
}

.yy-icon-1 {
    font-size: 34px;
    color: rgba(38, 153, 251, 1);
    vertical-align: middle;
    margin-right: 20px;
}

.yymessagebox {
    width: 300px;
}

.el-message-box {
    width: 300px !important;
}