.yy-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
}

.el-tag+.el-tag {
    margin-left: 10px;
    margin-bottom: 20px;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}

.yy-page {
    text-align: right;
    margin-right: 70px;
    margin-top: 10px;
}

.yy-table {
    width: 90%;
    margin-left: 50px;
    margin-top: 8px;
    text-align: center;
    height: 520px;
}

.yy-box {
    width: 500px;
    height: 320px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    border-radius: 42px;
}

.yy-box-title-1 {
    color: rgba(26, 26, 26, 1);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.yy-box-title-2 {
    color: rgba(26, 26, 26, 1);
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 10px;
    ;
}

.yy-input {
    border: 0px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.39);
    outline: none;
}

.yy-btn {
    width: 128px;
    height: 31px;
    background: rgba(52, 145, 240, 1);
    opacity: 1;
    color: white;
    text-align: center;
    margin: 0 auto;
    border: 0px;
    border-radius: 42px;
    outline: none;
    margin-top: 20px;
    margin-left: 160px;
}

.yy-popper {
    border-radius: 23px !important;
    margin-top: 100px !important;
}

.el-popover {
    border-radius: 23px;
    margin-top: 100px;
}