.yy-title {
    color: rgba(26, 26, 26, 1);
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.el-dropdown-link {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.el-icon-arrow-down {
    font-size: 12px;
}

.demonstration {
    display: block;
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 20px;
}

.yy-input {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 8px;
    background: rgba(246, 246, 246, 1);
    outline: none;
    border: 0px;
    width: 520px;
    padding-left: 20px;
}

.el-icon-search {
    color: rgb(52, 145, 240);
    font-size: 1.4rem;
    /* right: 20px; */
    position: absolute;
    right: 50px;
    top: 18px;
}

.yy-btn {
    color: rgba(254, 65, 65, 1);
    font-size: 1.2rem;
}

.yy-table {
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    height: 510px;
}

.yy-page {
    text-align: right;
    margin-right: 70px;
    margin-top: 10px;
}

.el-table td,
.el-table th,
.el-table-column {
    padding: 5px 0 !important;
}